<div class="table">

<h1>Your Optimal Meal</h1>
<span>caloris of meal: {{optimalDish?.calories}}</span>
<table style="margin-top:30px;" mat-table [dataSource]="optimalDish.consumable" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th class="title" mat-header-cell *matHeaderCellDef> Name </th>
          <td style="padding-right: 35px;" mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="amount">
          <th class="title" mat-header-cell *matHeaderCellDef> Amount(grams) </th>
          <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div> 
      

