
<h1>Your menu</h1>
<table>
        <tr>
            <th>Name</th>
            <th>protein(per 100 grams)</th>
            <th>fat(per 100 grams)</th>
            <th>carbohydrates(per 100 grams)</th>
            <th>calories(per 100 grams)</th>            
        </tr>
        <tr *ngFor="let item of menu">
            <td style="text-align:center;">{{item?.name}}
            </td>
            <td style="text-align:center;">
                    {{item.data?.protein}}
            </td>
            <td style="text-align:center;">
                    {{item.data?.fat}}
            </td>
            <td style="text-align:center;">
                    {{item.data?.carbs}}
            </td>
            <td style="text-align:center;">
                    {{item.data?.calories}}
            </td>
        </tr>
</table>